$black-1: #000000;

$yellow-1: #fef4ec;
$yellow-2: #ffeee1;
$yellow-3: #f57944;

$gray-1: #e2e2e2;
$gray-2: #e6e6e6;

$white-1: #ffffff;

$txt-color: $black-1;

$bg-close-sidebar: $yellow-1;

$bg-primary: $yellow-1;
$bg-primary-hover: $yellow-2;

$bg-button-switch: $yellow-3;
