.\--txt-center {
  text-align: center;
}

.\--txt-strong {
  font-weight: bold;
}

.\--txt-uppercase {
  text-transform: uppercase;
}

.\--txt-link {
  text-decoration: none;
  color: colors.$txt-color;
}